
h2 {
    color:#fff;
    text-shadow: 2px 2px 1px black;
    font-weight: 600;
}



/*==============================practice===================================*/


.navbar-brand {
    padding:4px 15px;
}


.navbar {
    background-color: #838383;
    border-color: transparent;
    margin-bottom: 0px;
    position:relative;
    top:0;
    width:100%;
    z-index:20;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-weight:700;
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: #00569B;
    border-radius: 9px 24px 9px 24px ;
    color:#fff;

}

/*===========================hero=======================================*/

.jumbotron {
    height: 600px;
    background-image: url(../images/pool-water.jpg);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:0;
}

.jumbotron h1 {
    color: #00AEEF;
    text-shadow: 2px 2px 1px black;
    padding-top:70px;
}
.ad {
    color:#00AEEF;
    font-size: 2em;
    text-shadow: 2px 2px 2px white;
    font-weight: 800;
}
.logoHero {
    margin-top: 130px;
}
/*===================================stats section==========================================*/
.stats {
    height:350px;
    background-image: url(../images/statsBG.png);
    margin-bottom:0;
}
.stats .container {
    padding:115px 0;
}
/*============================spacer=====================================================*/

.spacer {
    height:100px;
    background-color: black;
}
/*=====================carousel section====================================================*/


.carousel-inner .item {
    height: 750px;
    background-size: cover;
    background-position: center;
}

.slide-one {
    background-image: url(../images/carouselOne.jpg);
}

.slide-one-logo {
    height:200px;
    width: 300px;
    margin-bottom: 350px;
}

.slide-two {
    background-image: url(../images/carouselTwo.jpg);
}

.slide-three {
    background-image: url(../images/carouselThree.jpg);
}

.slide-four {
    background-image: url(../images/carouselFour.jpg);
}

/*======================spacer 2 section===============================*/
.spacer2 {
    height:200px;
    background-color:#000;
}
.spacer2 h2 {
    margin-top:0px;

}
.vikingLogo {
    height: 200px;
}


.logo {
    height:200px;

}


/*=======================================view section===========================*/
.view {
    background-image:url(../images/view.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:750px;
}
.viewh {
    color: #FFFF00;
    position:relative;
    right:100px;
}
.viewp {
    color:#fff;
    font-size: 1.5em;
    margin-top:25px;
    position:relative;
    right:100px;
}

/*spacer 3 section*/
.spacer3 {
    height:150px;
    background-color: black;
    padding-top:30px;
    position:relative;
    text-align:center;
}
.spacer3 h2 {
    position:absolute;
    bottom:0;
    left:25%;

}

/*================================split screen section============================*/

.splitScreen {
    overflow:hidden;
}
.overlay-1 {
    overflow: hidden;
    background-color:gray;
    height:600px;
    -webkit-transition: all 4s ease-in;
                -moz-transition: all 4s ease-in-out;
                -o-transition: all 4s ease-in-out;
                -ms-transition: all 4s ease-in-out;
}

.overlay-1:hover {
    -webkit-transform: translate(-200em,-0em);
                -moz-transform: translate(3em,0);
                -o-transform: translate(3em,0);
                -ms-transform: translate(3em,0);
}
.overlay-2 {
    overflow: hidden;
    background-color:#00AEEF;
    height:600px;
    width:100%;
    -webkit-transition: all 4s ease-in;
                -moz-transition: all 4s ease-in-out;
                -o-transition: all 4s ease-in-out;
                -ms-transition: all 4s ease-in-out;
}

.overlay-2:hover {
    overflow: hidden;
    -webkit-transform: translate(200em,0em);
                -moz-transform: translate(3em,0);
                -o-transform: translate(3em,0);
                -ms-transform: translate(3em,0);
}

.vikingPic {
    background-image: url(../images/vikingPic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:600px;
    padding-left: 0;
    padding-right: 0;
}

.gunitePic {
    background-image: url(../images/gunitePic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:600px;
    padding-left: 0;
    padding-right: 0;
}

/*===================================footer section==================================*/

footer {
    height:200px;
    background-color: #fff;
    padding:15px;
}
footer ul li  {
    list-style: none;
}

.logo1 {
    margin-top:21px;
}

.footerLogo {
    height:107px;
    margin-top:21px;
}

.social {
    padding-top:40px;
}

.social a {
    padding-right:10px;
    padding-left:10px;
}


asdf
